doctype html
html(lang='en')
  head
    title Create discussion
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Create a new discussion
      form#createDiscussion(name="creatediscussion",method="post",action="/discussion/create")
        input(type='text', name='title', placeholder='title')
        input(type='text', name='description', placeholder='description')
        input(type='submit')