doctype html
html(lang="en")
  head
    title= Home
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      .col-sm-12
      h1 title
      p 