doctype html
html(lang="en")
  head
    title Home
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Homepage
      if(user)
        a.btn(href='/discussion/create', role='button') Create a discussion
        a.btn(href='/u/'+user.local.username, role='button') Profile
      else
        a.btn(href='/login', role='button') Log in
        a.btn(href='/signup', role='button') Sign up
    if discussions
      h4 Recent discussions
      each discussion in discussions
        a(href="/discussion/"+discussion._id)= discussion.title
        p= discussion.description