doctype html
html(lang="en")
  head
    title Home
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Homepage
      a.btn.btn--primary(href='/discussion/create', role='button') Create a discussion
    