doctype html
html(lang="en")
  head
    title Home
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Homepage
      if(user)
        a.btn(href='/discussion/create', role='button') Create a discussion
        a.btn(href='/u/'+user.local.username, role='button') Profile
      else
        a.btn(href='/login', role='button') Log in
        a.btn(href='/signup', role='button') Sign up
    if discussions
      .container
        h1 Recent discussions
        .scheidingStreep
        each discussion in discussions
          h2.index__discussion
            a(href="/discussion/"+discussion._id)= discussion.title
          h5.index__discussions--description= discussion.description