doctype html
html(lang="en")
  head
    title Home
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Homepage
      a.btn(href='/discussion/create', role='button') Create a discussion
      a.btn(href='/u/'+user.local.email, role='button') Profile
