doctype html
// views/login.ejs
html
  head
    title Node Authentication
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
        form.form--login(action='/login', method='post')
          h1.form--login__title Log in
          input.form--login__field(type='text', name='email' placeholder='Email')
          input.form--login__field(type='password', name='password' placeholder='Password')
          button.btn.btn--primary.form--login__btn(type='submit') Login
          hr
          p
            | Need an account? 
            a(href='/signup') Signup
          p
            | Or go 
            a(href='/') home
            | .
