doctype html
html
  head
    title Node Authentication
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      .jumbotron.text-center
        h1
          |  Webtech 2 Live Q&A App
        a.btn.btn-default(href='/login')
          |  Log in
        a.btn.btn-default(href='/signup')
          |  Sign up
