doctype html
html
  head
    title Node Authentication
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
        h1 Profile Page
        a.btn(href='/logout') Logout
        if (user)
          p= user.local.email

