doctype html
// views/signup.ejs
html
  head
    title Node Authentication
html(lang='en')
  head
    meta(charset='UTF-8')
    title Sign Up
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
        form.form--login(action='/signup', method='post')
          h1.form--login__title
            span.fa.fa-sign-in
            |  Signup
          .form-group
            if (message.length > 0)
              #alert
                p= message
            input.form--login__field(type='text', name='username' placeholder='Username')
          .form-group
            input.form--login__field(type='password', name='password' placeholder='Password')
          button.btn.btn--primary.form--login__btn(type='submit') Signup
          hr
          p
            | Already have an account? 
            a(href='/login') Login
          p
            | Or go 
            a(href='/') home
            | .